<!doctype html>
<html lang="en">
<head>
  <title>BarkingOwl Controller</title>
</head>
<body>
  
  <div class="top">
    <div class="box">
      <div id="addurl">
        Target URL: <input type="text" id="targeturl"></br>
        Max Link Level: <input type="text" id="maxlinklevel"></br>
        <button onclick="addurl()">Add URL</button>
		<div id="addurlsuccess"></div>
      </div>
	</div>
  </div>
  
  <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
  <script>
  
    function addurl()
    {
      var targeturl = $("#targeturl").val();
      var maxlinklevel = $("#maxlinklevel").val();
      var url = "/addurl?targeturl=" + targeturl + "&maxlinklevel" + maxlinklevel;
      $.getJSON(url, function(data) {
        if(data.success == true) {
          $("#addurlsuccess").html("<b>Success!</b>");
          $("#addurlsuccess").css("background-color: #D00000;");
        }
        else {
          $("#addurlsuccess").html("<b>Failed!</b>");
	  $("#addurlsuccess").css("background-color: #00D000;");
        }
      });
    }
  
  </script>
  
</body>
</html>
