<!doctype html>
<html lang="en">
<head>
  <title>BarkingOwl Controller</title>
  
  <style>
  
  div.input {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  div.box {
    border:1px solid #a1a1a1;
    padding: 5px 5px 5px 5px;
    width: 250px;
  }
  
  </style>

</head>
<body>
  
  <div class="top">
    <div class="box">
      <div id="addurl">
        Target URL:</br>
          <div class="input"><input type="text" id="targeturl" size="32"></div>
        Max Link Level:</br>
          <div class="input"><input type="text" id="maxlinklevel" size="32"></div>
        <button onclick="addurl()">Add URL</button>
        <div id="addurlsuccess"></div>
      </div>
	</div>
  </div>
  
  <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
  <script>
  
    function addurl()
    {
      var targeturl = $("#targeturl").val();
      var maxlinklevel = $("#maxlinklevel").val();
      var url = "addurl?targeturl=" + targeturl + "&maxlinklevel=" + maxlinklevel;
      $.getJSON(url, function(data) {
        if(data.success == true) {
          $("#addurlsuccess").html('<b style="color: #00D000;">Success!</b>');
        }
        else {
          $("#addurlsuccess").html('<b style="color: #00D000;">Failed!</b>');
        }
      });
    }
  
  </script>
  
</body>
</html>

